<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <!-- /Google Fonts -->
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- Fontawesome -->
    <!-- VueJs -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->
    <!-- /VueJs -->
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- /css -->
    <link rel="icon" type="image/png" href="https://cdn.pixabay.com/photo/2018/02/16/10/59/post-it-3157412_960_720.png"/>
    <title>Vue-ToDoList</title>
  </head>
  <body>
    <div id="root">
      <div class="box_list">
        <div class="wrapper_list">
          <h1>ToDoList</h1>
          <ul v-if="lista.length > 0">
            <li v-for="(item, i) in lista">{{item}} <i class="fas fa-trash-alt" @click="deleteItem(i)"></i></li>
          </ul>
        </div>
        <div class="wrapper_add">
          <input type="text" placeholder="Insert" @keyup.13="addItem" v-model="newItem">
          <i class="fas fa-plus-circle" @click="addItem"></i>
        </div>
      </div>
    </div>
  <!-- script -->
  <script type="text/javascript" src="js/script.js"></script>
  <!-- /script -->
  </body>
</html>
